header {
  background: #712d3e;
  padding: 20px 0px 10px 0px; }
  header .col-sm-6 {
    width: 50%; }
    @media only screen and (max-width: 480px) {
      header .col-sm-6 {
        width: 100%; } }
    header .col-sm-6.logo {
      text-align: left; }
      @media only screen and (max-width: 992px) {
        header .col-sm-6.logo img {
          margin: 0 auto; } }
  header .col-sm-6 {
    width: 50%; }
    @media only screen and (max-width: 480px) {
      header .col-sm-6 {
        width: 100%; } }
    header .col-sm-6.logo-text {
      text-align: right; }
      @media only screen and (max-width: 480px) {
        header .col-sm-6.logo-text {
          text-align: center; } }
      header .col-sm-6.logo-text h1 {
        font-family: 'Avenir LT Std 35 Light';
        font-size: 48px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 20px 0px 0px 0px; }
        @media only screen and (max-width: 1200px) {
          header .col-sm-6.logo-text h1 {
            font-size: 44px; } }
        @media only screen and (max-width: 1024px) {
          header .col-sm-6.logo-text h1 {
            font-size: 32px;
            margin: 30px 0px 0px 0px; } }
        @media only screen and (max-width: 767px) {
          header .col-sm-6.logo-text h1 {
            font-size: 24px;
            margin: 40px 0px 0px 0px; } }
        @media only screen and (max-width: 580px) {
          header .col-sm-6.logo-text h1 {
            font-size: 20px; } }
        @media only screen and (max-width: 480px) {
          header .col-sm-6.logo-text h1 {
            font-size: 26px; } }

.banner .banner-img {
  width: 100%; }

.background-skin {
  background-image: url("../image/landing-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #464646;
  height: 100%;
  display: table;
  width: 100%;
  position: absolute; }
  .background-skin .landing-page {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto; }
    .background-skin .landing-page .business-banking {
      text-align: right;
      max-width: 40%;
      float: right; }
      @media only screen and (max-width: 1200px) {
        .background-skin .landing-page .business-banking {
          max-width: 50%; } }
      @media only screen and (max-width: 480px) {
        .background-skin .landing-page .business-banking {
          max-width: 100%;
          float: none; } }
      .background-skin .landing-page .business-banking img {
        display: initial; }
        @media only screen and (max-width: 992px) {
          .background-skin .landing-page .business-banking img {
            width: 100%; } }
    .background-skin .landing-page .personal-banking {
      max-width: 40%; }
      @media only screen and (max-width: 1200px) {
        .background-skin .landing-page .personal-banking {
          max-width: 50%; } }
      @media only screen and (max-width: 480px) {
        .background-skin .landing-page .personal-banking {
          max-width: 100%; } }
      @media only screen and (max-width: 992px) {
        .background-skin .landing-page .personal-banking {
          text-align: center; } }
      @media only screen and (max-width: 992px) {
        .background-skin .landing-page .personal-banking img {
          width: 100%; } }
    .background-skin .landing-page .landing-logo {
      text-align: center; }
      .background-skin .landing-page .landing-logo img {
        display: initial;
        padding-top: 63px; }
    .background-skin .landing-page h1 {
      font-size: 36px;
      text-align: center;
      font-family: 'Avenir LT Std 95 Black';
      color: #ffffff;
      text-transform: uppercase;
      padding-bottom: 55px; }
      @media only screen and (max-width: 1200px) {
        .background-skin .landing-page h1 {
          font-size: 30px; } }
      @media only screen and (max-width: 940px) {
        .background-skin .landing-page h1 {
          font-size: 26px; } }
      @media only screen and (max-width: 640px) {
        .background-skin .landing-page h1 {
          font-size: 20px;
          padding-bottom: 30px; } }
      @media only screen and (max-width: 480px) {
        .background-skin .landing-page h1 {
          font-size: 18px; } }
      @media only screen and (max-width: 480px) {
        .background-skin .landing-page h1 {
          font-size: 14px; } }
    .background-skin .landing-page a button {
      background: #256141;
      color: #ffffff;
      border: 1px solid #ffffff;
      padding: 20px 22px;
      font-family: 'Avenir LT Std 95 Black';
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 28px;
      width: 100%; }
      @media only screen and (max-width: 640px) {
        .background-skin .landing-page a button {
          font-size: 14px; } }
      @media only screen and (max-width: 480px) {
        .background-skin .landing-page a button {
          margin-bottom: 28px; } }

.banner-text h1 {
  font-family: 'Avenir LT Std 35 Light';
  font-size: 29px;
  line-height: 40px;
  color: #66666e;
  text-align: center;
  padding: 30px 0px 50px 0px; }
  @media only screen and (max-width: 1024px) {
    .banner-text h1 {
      font-size: 26px; } }
  @media only screen and (max-width: 1024px) {
    .banner-text h1 {
      font-size: 22px;
      line-height: 30px; } }
  @media only screen and (max-width: 1024px) {
    .banner-text h1 {
      font-size: 20px; } }

.banner-btm {
  background: #712d3e;
  padding: 25px 0px; }
  .banner-btm .left-text {
    text-align: left; }
    @media only screen and (max-width: 767px) {
      .banner-btm .left-text {
        text-align: center; } }
    .banner-btm .left-text h1.letf-text {
      font-size: 30px;
      font-family: 'Avenir LT Std 35 Light Oblique';
      font-style: italic;
      color: #ffffff;
      line-height: 40px;
      margin: 0px; }
      @media only screen and (max-width: 1200px) {
        .banner-btm .left-text h1.letf-text {
          font-size: 18px; } }
      @media only screen and (max-width: 380px) {
        .banner-btm .left-text h1.letf-text {
          font-size: 14px; } }
  .banner-btm .right-text {
    text-align: right; }
    @media only screen and (max-width: 767px) {
      .banner-btm .right-text {
        text-align: center; } }
    .banner-btm .right-text h1.right-text {
      font-size: 36px;
      font-family: 'Avenir LT Std 95 Black';
      color: #ffffff;
      margin: 4px 0px; }
      @media only screen and (max-width: 1200px) {
        .banner-btm .right-text h1.right-text {
          font-size: 34px; } }
      @media only screen and (max-width: 1000px) {
        .banner-btm .right-text h1.right-text {
          font-size: 28px; } }
      @media only screen and (max-width: 380px) {
        .banner-btm .right-text h1.right-text {
          font-size: 22px; } }

.open-account {
  padding: 70px 0px 90px 0px; }
  .open-account.open-account-one {
    padding: 70px 0px 42px 0px; }
    .open-account.open-account-one .block-one.lowel-text p {
      font-size: 24px;
      max-width: 100%; }
      @media only screen and (max-width: 1024px) {
        .open-account.open-account-one .block-one.lowel-text p {
          font-size: 22px; } }
      @media only screen and (max-width: 1024px) {
        .open-account.open-account-one .block-one.lowel-text p {
          font-size: 20px;
          line-height: 30px; } }
      @media only screen and (max-width: 1024px) {
        .open-account.open-account-one .block-one.lowel-text p {
          font-size: 18px; } }
  @media only screen and (max-width: 992px) {
    .open-account {
      padding: 50px 0px 50px 0px; } }
  .open-account p.long-text {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 18px;
    color: #66666e;
    line-height: 28px; }
    @media only screen and (max-width: 1024px) {
      .open-account p.long-text {
        font-size: 16px; } }
  .open-account .block-one {
    text-align: center; }
    .open-account .block-one img {
      width: 100%; }
    .open-account .block-one h1 {
      font-family: 'Avenir LT Std 95 Black';
      font-size: 24px;
      color: #66666e;
      text-align: left;
      padding-bottom: 8px; }
    .open-account .block-one p {
      font-family: 'Avenir LT Std 45 Book';
      font-size: 16px;
      color: #66666e;
      text-align: left;
      margin: 0 0 26px; }
    .open-account .block-one button {
      background: #256141;
      color: #ffffff;
      border: 0 none;
      font-family: 'Avenir LT Std 95 Black';
      font-size: 20px;
      text-transform: uppercase;
      padding: 12px 16px 10px 12px; }
      @media only screen and (max-width: 992px) {
        .open-account .block-one button {
          margin-bottom: 30px; } }
    .open-account .block-one.lowel-text p {
      max-width: 80%; }
      @media only screen and (max-width: 992px) {
        .open-account .block-one.lowel-text p {
          max-width: 100%; } }
  .open-account p.small-text {
    font-size: 14px;
    font-family: 'Avenir LT Std 35 Light';
    color: #66666e;
    text-align: right;
    padding: 48px 0px 0px 0px; }
    @media only screen and (max-width: 767px) {
      .open-account p.small-text {
        float: right;
        font-size: 10px;
        padding: 10px 0px 0px 0px; } }
  .open-account p.checking-text {
    font-size: 18px;
    font-family: 'Avenir LT Std 35 Light';
    color: #66666e;
    text-align: left;
    padding-bottom: 45px; }

.payment-section {
  padding: 70px 0px 65px 0px; }
  @media only screen and (max-width: 992px) {
    .payment-section {
      padding: 50px 0px 50px 0px; } }
  .payment-section p.long-text {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 18px;
    color: #66666e;
    line-height: 28px; }
  .payment-section .block-one h1 {
    font-family: 'Avenir LT Std 95 Black';
    font-size: 24px;
    color: #66666e;
    text-align: left;
    padding-bottom: 10px;
    margin: 0px; }
  .payment-section .block-one p {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 16px;
    color: #66666e;
    text-align: left;
    margin: 0 0 26px;
    max-width: 86%; }
    @media only screen and (max-width: 992px) {
      .payment-section .block-one p {
        max-width: 100%; } }

.loan-section {
  padding: 70px 0px 90px 0px; }
  @media only screen and (max-width: 992px) {
    .loan-section {
      padding: 50px 0px 50px 0px; } }
  .loan-section .loan-padding {
    padding: 0px 0px 60px 0px; }
    .loan-section .loan-padding .right-text {
      text-align: right; }
      @media only screen and (max-width: 767px) {
        .loan-section .loan-padding .right-text {
          text-align: center; } }
  .loan-section p.long-text {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 18px;
    color: #66666e;
    line-height: 28px; }
  .loan-section .block-one h1 {
    font-family: 'Avenir LT Std 45 Book';
    font-size: 24px;
    color: #66666e;
    text-align: left;
    padding-bottom: 8px; }
    .loan-section .block-one h1:first-child {
      margin-top: 0px; }
  .loan-section .block-one p {
    font-family: 'AvenirLTStd-Book';
    font-size: 16px;
    color: #66666e;
    text-align: left;
    margin: 0 0 26px; }
  .loan-section button.apply-btn {
    background: #256141;
    color: #ffffff;
    border: 0 none;
    font-family: 'Avenir LT Std 95 Black';
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 0px;
    width: 100%;
    max-width: 220px;
    margin-top: 20px; }
    @media only screen and (max-width: 992px) {
      .loan-section button.apply-btn {
        margin-bottom: 30px; } }
  @media only screen and (max-width: 480px) {
    .loan-section .loan-types .col-xs-6 {
      width: 100%; } }
  @media only screen and (max-width: 480px) {
    .loan-section .loan-types .col-xs-6 img {
      width: 100%; } }
  @media only screen and (max-width: 992px) {
    .loan-section .loan-types img {
      margin: 0 auto; } }
  .loan-section .loan-types h1 {
    font-family: 'Avenir LT Std 95 Black';
    font-size: 18px;
    text-align: center;
    color: #66666e;
    line-height: 22px; }
    @media only screen and (max-width: 480px) {
      .loan-section .loan-types h1 {
        padding: 0px 0px 20px 0px; } }
    .loan-section .loan-types h1 br {
      display: block; }
      @media only screen and (max-width: 480px) {
        .loan-section .loan-types h1 br {
          display: none; } }

.contact-section {
  padding: 70px 0px 130px 0px; }
  @media only screen and (max-width: 992px) {
    .contact-section {
      padding: 50px 0px 50px 0px; } }
  .contact-section p.letf-text {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 18px;
    color: #66666e;
    line-height: 28px; }
  .contact-section form .form-group label {
    font-size: 16px;
    font-family: 'Avenir LT Std 35 Light';
    text-transform: uppercase;
    color: #66666e;
    font-weight: 500; }
  .contact-section form .form-group .form-control {
    background-color: #cfd0d1;
    background-image: none;
    border: 2px solid #66666e;
    border-radius: 0px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    height: 55px;
    font-size: 16px;
    font-family: 'Avenir LT Std 35 Light'; }
  .contact-section form button.submit {
    background: #256141;
    color: #ffffff;
    border: 0 none;
    font-family: 'Avenir LT Std 95 Black';
    font-size: 20px;
    text-transform: uppercase;
    padding: 14px 30px 14px 30px;
    margin-top: 30px; }

footer img {
  margin: 40px auto; }

/*# sourceMappingURL=base.css.map */
